.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.69);
  box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.69);
  margin: 30px 0;
}
.post__wrapper {
  padding: 10px;
}
.post__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post__topLeft {
  display: flex;
  align-items: center;
}
.post__profileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.post__userName {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}
.post__date {
  font-size: 12px;
}
.post__center {
  margin: 20px 0;
}
.post__text {
}
.post__img {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}
.post__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post__bottomLeft {
  display: flex;
  align-items: center;
}
.like__icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}
.liked__counter {
  font-size: 15px;
}
.post__bottomRight {
}
.post__commentText {
  cursor: pointer;
  border-bottom: 1px dashed gray;
  font-size: 15px;
}
